.container {
}

.mainTitle {
  font-size: 100px;
}
.title {
  margin: 60px 0px;
}
/* item */
.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  height: 400px;
  width: 300px;
  position: relative;
  background-size: cover;
}
.items {
  display: flex;
  gap: 50px;
}
/* using background-image instade of background because the background reset the img size  */
.item:nth-child(1) {
  background-image: url("/illustration.png");
}
.item:nth-child(2) {
  background-image: url("/websites.jpg");
}
.item:nth-child(3) {
  background-image: url("/apps.jpg");
}

.s_title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.item:hover .s_title {
  color: #53c28b;
}
